.banner-container {
    position: relative;
    margin: 4rem auto;
    overflow: hidden;
    width: 93%;
    height: 50vw;
    box-shadow: 1rem 0.8rem 1rem rgba(0, 0, 0, 0.432);
}

.banner-container img {
    width: 100%;
    height: 100%;
}

.btn-Banner {
    position: absolute;
    /*right: 11.4vw;
    top: 32%;*/
    right: 2vw;
    bottom: 2vw;
    z-index: 100;

    width: 14vw;
    height: 3vw;

    border: none;
    border-radius: 2rem;
    background: black;

    font: 600 clamp(1.5rem, 1vw, 3.6rem)/1 'Montserrat', sans-serif;
    color: white;
    cursor: pointer;
    
    transition: opacity 300ms;
}

.btn-Banner:hover{
    opacity: 80%;
}

/* Most Wanted */
#btn-MostWanted{
    background: #ffffff;
    color: #000000;
}