.products-container{
    position: relative;
}

.c-carousel__slides{
    width: 85%;
    height: 65vh;
}

.c-carousel__slide{
    margin: 0.7rem;
}

.js-carousel--responsive-prev{
    position: absolute;
    left: 7rem;
    bottom: 55%;

    background: #000000;
    color: #ffffff;

    font-size: 3rem;

    border: none;
    border-radius: 50%;
    cursor: pointer;

    width: 6rem;
    height: 6rem;

    transition: opacity 300ms;
}

.js-carousel--responsive-prev:hover{
    opacity: 80%;
}

.js-carousel--responsive-next{
    position: absolute;
    right: 7rem;
    bottom: 55%;

    background: #000000;
    color: #ffffff;

    font-size: 3rem;

    border: none;
    border-radius: 50%;
    cursor: pointer;

    width: 6rem;
    height: 6rem;

    transition: opacity 300ms;
}

.js-carousel--responsive-next:hover{
    opacity: 80%;
}

