/* Slider CSS */
.products-container {
    margin-top: 5rem;
}

.products-container h1 {
    color: #000000;
    margin: 0 0 1rem 8vw;
}

.product {
    width: 100%;
    flex: 0 0 51.85rem;
}

.image_prod {
    width: 100%;
    height: 20vw;
    overflow: hidden;
}

.image_prod img {
    width: 100%;
    height: 100%;
    transition: transform 300ms
}

.image_prod img:hover {
    transform: scale(1.05);
}

.product-info {
    height: 13vh;
    margin-top: 1rem;
}

.product-info h3 {
    margin: 0 2rem;
    color: black;
}

.product-info p {
    margin: 0.5rem 2.5rem;
    color: black;
}

.prev {
    position: absolute;
    left: 7rem;
    bottom: 65%;
    background: #000000;
    color: #ffffff;
    font-size: 3rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 6rem;
    height: 6rem;
    transition: opacity 300ms;
}

.next {
    position: absolute;
    right: 7rem;
    bottom: 65%;
    background: #000000;
    color: #ffffff;
    font-size: 3rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 6rem;
    height: 6rem;
    transition: opacity 300ms;
}

.next:hover, .prev:hover {
    opacity: 80%;
}