aside.sidebar {
    position: fixed;
    height: 100%;
    padding: 3.2rem 2.4rem;
    background: #15c3d6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

aside.sidebar footer button {
    width: 4.8rem;
    height: 4.8rem;
    background: #12afcb;
    border: none;
    border-radius: 1.6rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 450ms;
}

aside.sidebar footer button:hover {
    background: #16d6eb;
}

.with-sidebar {
    padding-left: 7.5rem;
}

@media (max-width: 400px){
    
    aside.sidebar {
        position: fixed;
        height: 100%;
        padding: 3.2rem .5rem;
        background: #15c3d6;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
}


