<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Localize um Orfanato | Happy</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/Index.css">
    <link rel="stylesheet" href="/css/main.css">

    <script src="/src/database/db.js">
        window.addEventListener("load", function (event) {
            loadDB();
        });
    </script>

    <script type="text/javascript">
        function render() {

            fetch('products.json')
                .then(res => res.json())
                .then(data => {
                    console.log(data)

                    const tbody = document.getElementById('tbody')
                    tbody.innerHTML = ''
                    data.map(item => {
                        const tr = document.createElement('tr')
                        tr.innerHTML =
                            '<tr>' + item.prod_id + '</tr>' +
                            '<tr>' + item.prod_name + '</tr>'

                        tbody.appendChild(tr)
                    })
                })
        }

        window.addEventListener('load', e => {
            render();
        })

    </script>

</head>



<body style="color: black">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tbody"></tbody>
    </table>
</body>

</html>