<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Happy</title>

     <!-- Icon -->
     <link rel="icon" href="/images/logo-icon.png">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/page-landing.css">

</head>
<body>
    <div id="page-landing">
        <div id="container">
            <header>
                <img id="logo" class="animate-up" src="/images/logo.svg" alt="Logo Happy">

                <!-- Uma tag pode ter mais de uma classe qnd separadas por um espaçamento -->
                <div class="location animate-up">
                    <strong>São Paulo</strong>
                    <p>Campo Limpo</p>
                </div>
            </header>

            <main>
                <h1 class="animate-up">Leve felicidade para o mundo</h1>

                <!-- Mudar o nome orfanatos para o nome que o Diego explicou na live "A Milha Extra" -->
                <section class="visit">
                    <p class="animate-up">Visite orfanatos e mude o dia de muitas crianças</p>

                    <a href="/orphanages" title="Visite orfanatos" class="animate-up">
                        <img src="/images/arrow.svg" alt="Ir para o mapa">
                    </a>
                </section>
            </main>
        </div>
    </div>
    
</body>
</html>