<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos | MiniStore</title>

    <!-- Fonts/Icons -->
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;0,900;1,600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/login.css">




</head>

<body id='body'>

    <div id="container">
        <form method="post" action="login-Validation">
            <h1>Login</h1>
            <fieldset class="animate-up first">
                <legend>Email</legend>
                <input class="input-block" type="text" placeholder="Digite seu E-mail:" name="email">
            </fieldset>

            <fieldset class="animate-up">
                <legend>Senha</legend>
                <input class="input-block" type="text" placeholder="Digite sua senha" name="password">

                <p>Não possui cadastro? <a href="/register">Registrar-se</a></p>

                <button type="submit">Entrar</button>
            </fieldset>
        </form>
    </div>


</body>

</html>