<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtoss | MiniStore</title>

    <!-- Fonts/Icons -->
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;0,900;1,600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/banner.css">
    <link rel="stylesheet" href="css/Index.css">
    <link rel="stylesheet" href="css/glider.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/Footer.css">

</head>

<body id='body'>

    <!-- Menu -->
    <nav>
        <a href="/produtos"><button id="menu-btn-1" class="menu-btn">Produtos</button></a>
        <button id="menu-btn-2" class="menu-btn">Coleções</button>
        <a href="/">
            <div class="div-logo-img"><img src="/images/logo2.png"></div>
        </a>
        <button id="menu-btn-3" class="menu-btn">Quem Somos</button>
        <button id="menu-btn-4" class="menu-btn">Contato</button>
    </nav>

    <!-- Container Principal -->

    <div id="container">

        <!-- Produtos -->


        <!-- footer -->

        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-col-1">
                        <h3>Faça o Download do Nosso App</h3>
                        <p>Disponivel em aparelhos Apple e Android.</p>
                        <div class="app-logo">
                            <img src="images/NavBar/Logoapp.png"> <!-- playstore -->
                        </div>
                    </div>
                    <div class="footer-col-2">
                        <img src="images/NavBar/Logo-NavBar.png" style="margin-left: 30px;">
                        <!--logo-->
                        <p>Temos como proposito construir uma marca de renome.
                            e ser a melhor para nossos clientes </p>
                    </div>
                    <div class="footer-col-3">
                        <h3>Links Uteis</h3>
                        <ul>
                            <li>Coupons</li>
                            <li>Blog Post</li>
                            <li>Return Policy</li>
                            <li>Join Affiliate</li>
                        </ul>
                    </div>
                    <div class="footer-col-4">
                        <h3>Nos siga</h3>
                        <ul>
                            <li>Facebook</li>
                            <li>Twitter</li>
                            <li>Instagram</li>
                            <li>Youtube</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <p class="copyright">Copyright@2020 - Kakaluluphe</p>
            </div>
        </div>





    </div>

</body>

</html>